//DEFAULTS PAGE SETTINGS
// color code : rgb(195, 206, 202) light-blue
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



body {
  font-family: 'Quicksand', sans-serif;

  margin: 0;
  padding: 0;
}

//NAVBAR
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  top: 0;
  overflow: hidden;
  width: 100%;
  margin-right: 0;
  height: 90px;
  background-color: white;

  a {
    display: inline-block;
    text-decoration: none;
    color: #4E4E4E;
  }

}



//NAVBAR LOGO + TITLE

.navbar {

  #nav-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    width: 30%;
    color: #4E4E4E;
    text-align: center;

  }

  p {
    margin: 0px;
    font-size: 15px;
  }

}



//NAVBAR BUTTON AND LINK
div #center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;

  .nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    a {
      border-bottom: solid 2px #90DCC4;
      margin-right: 90px;
      font-size: 14px;

    }

    a:hover {
      transition-property: border-bottom;
      transition-timing-function: ease-in;
      transition-duration: 1s;
      border-bottom: solid 2px rgb(78, 78, 78);
    }
  }
}


///////////////// FOOTER /////////////////////

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  .pos-center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .info {
      display: flex;
      flex-direction: column;

      .contact {
        text-align: center;
        margin-bottom: 30px;
      }

      .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
      }

    }
  }

}